.drumkit {
  display: flex;
  user-select: none;
  justify-content: center;
  font-size: 80px;
  margin: -.2em 0 0 0;
  padding-left: .3em;
}

.mainWrapper {
  text-align: center;
}

.instrument__button {
  border: 0;
  padding: 0;
  position: relative;
}

.instrument__buttonIcon {
  position: relative;
  display: block;
  background-color: currentColor;
  width: .75em;
  height: .43em;
}

.instrument__buttonIcon:before,
.instrument__buttonIcon:after {
  content:"";
  display: block;
  width: 0; 
  height: 0; 
  position: absolute;
  left: 0;
  right: 0;
  border-left: .37em solid transparent;
  border-right: .37em solid transparent;
}

.instrument__buttonIcon:before {
  border-bottom: .25em solid currentColor;
  bottom: 100%;
}

.instrument__buttonIcon:after {
  border-top: .25em solid currentColor;
  top: 100%;
}

.drumkit__instrument {
  list-style: none;
  margin-left: -.3em;
}

.drumkit__instrument:nth-child(odd){
margin-top: .8em;
}

.instrument__button {
  height: .8em;
  background-color: transparent;
}

.instrument__buttonCode {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #000;
}

.active button {
  opacity: .8;
}

button {
  transition: opacity 0.2s ease;
}

header {
  margin-top: 1em;
}

footer {
    padding-top: 1em;
}

/* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */

/* Larger than mobile */
@media (min-width: 400px) {
  .drumkit {
    font-size: 100px;
  }

  .instrument__buttonCode {font-size: 24px;}
}

@media (min-width: 550px) {
  .drumkit {
    font-size: 128px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 768px) {
  .drumkit {
    font-size: 168px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

.instrument__button--A,
.instrument__button--A:hover,
.instrument__button--A:focus,
.instrument__button--A:active {
    color: #bf8040;
}

.instrument__button--S,
.instrument__button--S:hover,
.instrument__button--S:focus,
.instrument__button--S:active {
    color: #604020;
}

.instrument__button--D,
.instrument__button--D:hover,
.instrument__button--D:focus,
.instrument__button--D:active {
    color: 	 #d2a679;
}

.instrument__button--F,
.instrument__button--F:hover,
.instrument__button--F:focus,
.instrument__button--F:active {
    color: #994d00;
}

.instrument__button--W,
.instrument__button--W:hover,
.instrument__button--W:focus,
.instrument__button--W:active {
    color: #ffe680;
}

.instrument__button--E,
.instrument__button--E:hover,
.instrument__button--E:focus,
.instrument__button--E:active {
    color: #ffcc00;
}

.instrument__button--R,
.instrument__button--R:hover,
.instrument__button--R:focus,
.instrument__button--R:active {
    color: #ffff00;
}